@import 
url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
header{
    /* background-image: url(image/maldives.jpg); */
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(image/maldives.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.logo img{
    width: 150px;
    float: left;
}

ul{
    float: right;
    list-style: none;
    margin-top: 20px;
}
ul li{
    display: inline-block;
}
ul li.active a{
    background-color: #fff;
    color: black;
}
ul li a{
    text-decoration: none;
    color: #fff;
    border: 1px solid white;
    padding: 5px 20px;
    transition: 0.5s ease;
}
ul li a:hover{
    background-color: white;
    color: #000000;   
}
.title {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.title h1{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 70px;
    font-weight: 500;
}
.button{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.btn{
    color: #fff;
    text-decoration: none;
    border: 1px solid white;
    padding: 10px 30px;
    text-transform: uppercase;
    transition: 0.6s ease;
}
.btn:hover{
    background-color: #000000;
    color: #fff;
}